.App {
  background-color: #bee3fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.shark-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.shark-right{
  transform: rotateY(180deg)
}
footer{
  position: fixed;
  bottom:0;
  display: inline-flex;
}